@import url(fonts.css);
@import url(reset.css);

/* GLOBAL */
body {
	font-family: "Roboto", sans-serif;
	color: #212121;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	background: #2196F3;
	text-decoration: none;
	padding: 17px;
	min-width: 200px;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	position: relative;
	z-index: 5;
}

.btn:hover {
	background: #1784dd;
}

/* HEADER */

.header {
	padding: 25px 0;
	font-weight: 500;
	border-bottom: 1px solid #ECECEC;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 90px;
}

.header-nav,
.header-info {
	display: flex;
	gap: 50px;
}

.header-nav a {
	color: #212121;
	text-decoration: none;
}

.header-nav a.active {
	color: #2196f3;
  }

.header-nav-dropdown {
	position: relative;
	z-index: 30;
  }
  
  .header-nav-dropdown > a {
	text-decoration: none;
	padding: 8px;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	border-radius: 4px;
	list-style: none;
	margin: 0;
  }
  .dropdown-content li {
	margin: 0;
  }
  
  .dropdown-content a {
	display: block;
	padding: 8px 20px;
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
  }
  
  .dropdown-content a:hover {
	background-color:#2196F3;
  }
  
.header-nav-dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}

/* HEADER INFO */
.header-info {
	margin-left: auto;
	position: relative;
}

.dropdoun-title {
	cursor: pointer;
	color: #212121;
}
.header-info-item p:hover {
	color: #2196F3;
}

.header-nav-wrapper {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
}

.header-nav {
	border-radius: 4px;
	text-align: center;
}

.header-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-nav ul a {
	color: white;
	display: block;
	text-decoration: none;
	background: #1784dd;
	white-space: nowrap;
	padding: 8px 20px;
}

.header-nav ul a:hover {
	background: #479fe6;
}

.header-info:hover .header-nav-wrapper {
	display: block;
}

/* BURGER */

.burger {
	width: 34px;
	height: 20px;
	/* background: green; */
	position: absolute;
	top: 24px;
	left: 15px;
	cursor: pointer;
	z-index: 20;
}

.burger::before,
.burger::after,
.burger span {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: #212121;
}

.burger::after {
	top: auto;
	bottom: 0;
}

.burger span {
	top: 50%;
	margin-top: -2px;
}

.sidebar {
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	background: #ccc;
	padding: 90px 20px 20px;
	display: none;
	z-index: 15;
}

.burger:hover+.sidebar,
.sidebar:hover {
	display: block;
}


.sidebar p{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
}

/* Sub-menu  */
.arrow {
	border: solid white;
	color: #FFFFFF;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 5px;
  }
  
  .left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
  }
  
  .has-submenu {
	position: relative;
  }
  
  .submenu-trigger {
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: #1784dd;
  }
  
  .submenu-trigger a {
	text-decoration: none;
  }
  
  .sub-menu {
	display: none;
	position: absolute;
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
  }

  .has-submenu:hover .sub-menu {
	display: block;
  }
/* HERO */

.hero {
	min-height: 600px;
	background: url("../images/background-img.jpg") no-repeat 50%/cover;
	color: #fff;
	display: flex;
	flex-flow: column;
	justify-content: center;
	position: relative;
}

.hero::after {
	content: '';
	position: absolute;
	inset: 0;
	background: rgba(47, 48, 58, 0.4);
}
	
.hero-box {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
}

.hero-title {
	font-size: 44px;
	line-height: 60px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
}

.about {
	padding: 94px 0;
}
  
.about-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.about-card {
	width: 270px;
	padding-top: 150px;
	position: relative;
	text-align: center;
}

.about-icon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	border-radius: 4px;
}
  
.about-icon.icon-detail::before {
	background:rgba(245, 244, 250, 1) url('../images/radar.svg') no-repeat center/70px;
}
  
.about-icon.icon-punctual::before {
	background:rgba(245, 244, 250, 1) url('../images/clock.svg') no-repeat center/70px;
}
  
.about-icon.icon-planning::before {
	background:rgba(245, 244, 250, 1) url('../images/diagram.svg') no-repeat center/70px;
}
  
.about-icon.icon-tech::before {
	background:rgba(245, 244, 250, 1) url('../images/astronaut.svg') no-repeat center/70px;
}

.about-desc {
	padding: 0 20px;
}

.about-desc h2 {
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
}

.about-desc p {
	color: #757575;
	line-height: 1.6;
	font-size: 14px;
}

.do {
	padding-bottom: 94px;
}

.do-cards {
	display: flex;
	gap: 30px;
}

.do-title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin-bottom: 50px;
}

.do-card {
	height: 294px;
	overflow: hidden;
}

.do-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Team */

.team{
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-cards {
	display: flex;
	gap: 30px;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin-bottom: 50px;
}

.team-card {
	height: 100%;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
}

.team-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 30px;
}
.team-profession{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
}
.team-socials{
	margin-top: 16px;
	margin-bottom: 30px;
}
.team-socials ul {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 0;
	list-style: none;
}
  
.social-icon {
	display: inline-block;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
  
  /* Background images for social platforms */
.social-icon.instagram {
	background: url('../images/instagram.svg') no-repeat center/20px;
}
  
.social-icon.twitter {
	background: url('../images/twitter.svg') no-repeat center/20px;
}
  
.social-icon.facebook {
	background: url('../images/facebook.svg') no-repeat center/20px;
}
  
.social-icon.linkedin {
	background: url('../images/linkedin.svg') no-repeat center/20px;
}
  
.social-icon:hover {
	background-color: #2196f3;
}


/* FOOTER */
.footer {
    background: #2F303A;
}
.footer-container{
    display: flex;
    align-items: start;
    padding: 60px 0;
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-logo-wrapper {
	display: flex;
	flex-direction: column;
}
.footer-info{
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.footer-link {
	text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-socials{
	display: flex;
	padding-left: 70px;
	padding-top: 12px;
	flex-direction: column;
}
.footer-socials p {
	justify-content: center;
	list-style: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.footer-icons{
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 0;
	list-style: none;
}

.footer-icon{
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.footer-icon.instagram {
	background: rgba(255, 255, 255, 0.1)url('../images/instagram-white.png') no-repeat center/20px;
}
  
.footer-icon.twitter {
	background: rgba(255, 255, 255, 0.1)url('../images/twitter-white.png') no-repeat center/20px;
}
  
.footer-icon.facebook {
	background: rgba(255, 255, 255, 0.1)url('../images/facebook-white.png') no-repeat center/20px;
}
  
.footer-icon.linkedin {
	background: rgba(255, 255, 255, 0.1)url('../images/linkedin-white.png') no-repeat center/20px;
}
  
.footer-icon:hover {
	background-color: #2196f3;
} 

/* POTFOLIO */

.portfolio-container{
    padding: 94px 0;
}

.portfolio-buttons{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 34px;
}
.portfolio-btn{
	color: #212121;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	background: #F5F4FA;
	text-decoration: none;
	padding: 17px;
	min-width: 130px;
	border-radius: 4px;
	cursor: pointer;
    border: 0;
	text-align: center;
}

.portfolio-btn:hover {
    color: #FFFFFF;
	background:#2196F3;
}
.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    border: #EEEEEE 1px solid;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 294px; 
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.portfolio-overlay {
    position: absolute;
    inset: 0;
    background: rgba(33, 150, 243, 0.9); 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 20px;
}

.image-wrapper:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-item:hover {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
}

.overlay-text {
	font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.item-info {
    padding: 20px;
    text-align: center;
	gap: 4px;
}

.item-category {
    font-weight: 700;
    font-size: 18px;
    color: #212121;
    letter-spacing: 1px;
}

.item-desc {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    letter-spacing: 1px;
}